/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.nav {
  background-color: grey;
  margin-top: -22px;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  height: 70px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 40px;
}
.nav-navtitle {
  padding-top: 20px;
}
.btn {
  color: white;
  background-color: rgb(33, 134, 201);
  box-shadow: black;
}
.nav-navtitle {
  margin-right: 700px;
  font-family: "roboto", sans-serif;
}
a {
  text-decoration: none;
  color: white;
  font-family: "roboto", sans-serif;
}
.active {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
}
.search {
  border-radius: 40%;
  background-color: violet;
  box-shadow: turquoise;
  height: 40px;
  width: 100px;
  margin: 30px;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex: 1;
  margin-right: 50px;
  background-color: violet;
}
img {
  height: 200px;
  margin-top: 50px;
}
