* {
  margin: 0;
  padding: o;
}
#container {
}

h1 {
  background-color: grey;
  color: white;
}
a {
  text-decoration: none;
}
.link {
  text-decoration: underline;
}
.nav-bar {
  display: flex;

  justify-content: space-between;
}
.btn {
  background-color: lightskyblue;
  margin-left: 300px;
}
.user {
  width: 70px;
}
.top-of-card {
  background-color: grey;
  width: 300px;
  height: 40px;
}
.gear {
  height: 15px;
}
img {
  height: 40px;
}
.uconnect,
.connect,
.education {
  background-color: grey;
  font-size: 30px;
}
.education {
  font-size: 30px;
}
.left,
.right {
  display: flex;
}
